@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.space {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("space.jpg");
    background-size: contain;
}

.info {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planet {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 45vw;
    height: 90vh;
    /* background-color: rgb(141, 141, 224); */
    border-radius: 40px;
    position: relative;
    z-index: 10;
    font-family: "Yatra One", system-ui;
    /* font-weight: 400; */
    font-style: normal;
    color: white;
}

.content2 {
    width: 45vw;
    height: 90vh;
    background-color: rgba(141, 141, 224, 0.685);
    opacity: 0.3;
    border-radius: 40px;
    position: absolute;
    z-index: 7;
    border: 1px solid white;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    font-size: 40px;
}
p{
    font-weight: 100;
}